.top {
  background-color: white; }
  .top .text-top {
    display: inline-block;
    margin-left: 4px;
    padding: 8px 10px; }

/*Menu */
.menu-fix-bg {
  padding: 0; }

.container-fix {
  width: 80%;
  /*border:1px solid red;*/
  padding: 10px 0; }

.menu-fix-bg .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-fix-bg .navbar-brand > img {
  padding: 7px 14px; }

section.portada {
  margin-top: -20px; }
  section.portada .col-xs-12 {
    padding: 0; }
    section.portada .col-xs-12 img {
      width: 100%; }

section.content-index {
  /*border:1px solid red;*/
  margin-top: 100px; }

section.content-general {
  margin-top: 30px;
  margin-bottom: 120px; }

hr.hr-fix {
  background-color:#597ea6;
  height:3px; 
  width:20%;
  display:inline-block; 

}
hr.hr-fix-2 {
  background-color:#e2e2e2;
  height:3px; 
  width:75%;
  display:inline-block; 

}

h2.titulos-conteidos {
  position: absolute;
  top: 45%;
  margin: 0;
  left: 14%;
  /*border:1px solid red;*/ }

.content-index a{
  text-decoration: none;
}

footer.content-footer {
  background-color: #2B333A;
  color: white;
  margin-top: 80px;
  padding-top: 20px; }
