.row
	.col-sm-4
		figure
			img(src="images/beneficios.jpg", class="image-responsive" alt="")

	.col-sm-8
		ul
			li Facilitar el acceso a las bases de datos sobre patentes y otros recursos cientificos y tecnólogicos.
			li Capacitar a los usuarios locales sobre el terreno y mediante la enseñanza a distancia.
			li Proporcionar información y material de formación.
			li Prestar asistencia en las actividades de sensibilización; así como
			li Difundir entre los CATI la práctica más extendida y la experiencia adquirida.