.row
	.col-sm-4
		figure
			img(src="images/nosotros.jpg", class="image-responsive" alt="")

	.col-sm-8
		h4 Encargado de CATI -  USMP: Dr. Carlos Bernal Ortiz
		
		p Teléfondo de contacto: 208-6000 anexo 1152
		p Correo electrónico: cbernalo@usmp.pe
		p Horario de atención al público: De lunes a viernes de 8:30 am a  3 pm