.row
	.col-sm-4
		figure
			img(src="images/programa.jpg", class="image-responsive" alt="")

	.col-sm-8
		p Los CATI serán instalados desde marzo de 2018, con servicios dirigidos a cubrir las necesidades de información, orientación y asesoría que se generan en materia de propiedad intelectual dentro de todo proceso de desarrollo inventivo y tecnológico. Además, promoverán el uso de la información tecnológica y otros servicios de patentes a través de plataformas que faciliten servicios de forma descentralizada, desconcentrada y sostenible.

		p Con ello, se busca contribuir con la innovación y el crecimiento económico y social de la nación.

		p El programa involucrará el aporte tanto de la OMPI como del Indecopi, e incluirá una capacitación de especialización, para formar a especialistas en patentes, abarcando cuatro ámbitos fundamentales: propiedad intelectual e identificación de materia patentable; búsqueda y análisis del estado de la técnica; redacción de solicitudes y los aspectos comerciales de las patentes.

		p Con la implementación de este proyecto se facilitará el aprendizaje e intercambio de experiencias e información conformando una  red nacional de los CATI, teniendo al Indecopi, a través de la Dirección de Invenciones y Nuevas Tecnologías (DIN), como facilitador de este proceso.