.row
	.col-sm-4
		figure
			img(src="images/cursos.jpg", class="image-responsive" alt="")

	.col-sm-8
		h4 Vigilancia Tecnológica (VT):
		
		p Permitirá al gestor conocer las fuentes de información más confiables y utilizadas en los procesos de Ciencia Tecnología, Innovación y emprendimiento tecnológico (CTI + ET). Se visitarán bases de datos de publicaciones científicas, patentes, proyectos a una escala nacional, regional y mundial, así como se brindarán los criterios de cómo realizar el proceso sistemático y la elaboración de un informe de VT.
		
		br 

		h4 Formulación de Proyectos (FP):

		p Permitirá al gestor conocer las fuentes de financiamiento no reembolsable del estado peruano, sus características, fechas, particularidades, sistema de postulación y evaluación.
		
		br 

		h4 Propiedad Intelectual (PI):

		p Se conocerán las formas de protección peruana de los resultados de investigación, tales como: Patentes, derecho de autor, derecho de obtentor.

		br 

		h4 Taller del investigador (TdI):

		p Se conocerán los criterios de calificación, los documentos sustentatorios y el proceso de calificación para que una persona natural forme parte del Sistema Nacional de Ciencia Tecnología e Innovación – SINACYT. Se certificarán además en conducta responsable para la investigación ante CONCYTEC.
hr
.row
	.col-12(class="text-center")
		h2 CRONOGRAMA DE CAPACITACIONES CATI 2018
		br
		p(class="text-left") Dirigido a responsables de CATI – FIA, investigadores y docentes de la Universidad de San Martin de Porres. El propósito de estas actividades es brindar conceptos, teorías y alcances inmersos en la Investigación. 
		br
		div( class="table-responsive")
			table(border='0', cellspacing='0', cellpadding='0' , width='0', class="table table-dark table-bordered")
				tbody
					tr(class="thead-dark" style="background-color:#2B333A;color:white")
						td(width='38', )
							p  
						td(width='84', )
							p(align='center' )
							strong DÍA 
						td(width='49', )
							p(align='center')
							strong INICIO 
						td(width='45', )
							p(align='center')
							strong FINAL
						td(width='238', )
							p(align='center')
							strong TEMARIO
						td(width='132', )
							p(align='center')
							strong EXPOSITOR
						td(width='189', )
							p(align='center')
							strong DIRIGIDO A 
						td(width='170', )
							p(align='center')
							strong LUGAR
					tr
						td(width='38', , rowspan='5', style='vertical-align:middle;background-color:#2B333A; color:white;')
							p(align='center ' , style='transform:rotate(-90deg);border:0px solid red;width:70px')
								strong ETAPA 1
						td(width='84')
							p(align='center') 9 de julio
						td(width='49', )
							p(align='center') 09:00
						td(width='45', )
							p(align='center') 11:00
						td(width='238', )
							p Propiedad Intelectual
						td(width='132', )
							p(align='center') Jesús Manuel    Chincha
						td(width='189', )
							p(align='center') Personal CATI
						td(width='170', )
							p(align='center') Oficina CATI
					tr
						td(width='84')
							p(align='center') 19 de julio
						td(width='49', )
							p(align='center') 18:00
						td(width='45', )
							p(align='center') 21:30
						td(width='238', )
							p Taller del Investigador:    CRI - DINA - REGINA
						td(width='132', )
							p(align='center') Bryan Lucero
						td(width='189', )
							p(align='center') Personal CATI    y autoridades FIA
						td(width='170', )
							p(align='center') Oficina CATI
					tr
						td(width='84', rowspan='2')
							p(align='center') 13 de agosto
						td(width='49', , rowspan='2')
							p(align='center') 18:30
						td(width='45', , rowspan='2')
							p(align='center') 21:00
						td(width='238')
					
							p Taller 1: Formulación de    Proyectos de Investigación
						td(width='132', rowspan='2')
							p(align='center') Astrid    Criales Johnson
						td(width='189', , rowspan='2')
							p(align='center') Investigadores    y docentes FIA
						td(width='170', , rowspan='2')
							p(align='center') Laboratorio    3D – FIA DATA
					tr
						td(width='238')
					tr
						td(width='84')
							p(align='center') 27 de agosto
						td(width='49', )
							p(align='center') 18:30
						td(width='45', )
							p(align='center') 21:00
						td(width='238')
							p Taller 2: Caso práctico    de Proyecto de Investigación
						td(width='132')
							p(align='center') David Lujan
						td(width='189', )
							p(align='center') Investigadores    y docentes FIA
						td(width='170', )
							p(align='center') Laboratorio    3D – FIA DATA
					tr
						td(width='38',  rowspan='4', style='vertical-align:middle,vertical-align:middle;background-color:#2B333A; color:white;')
							p(align='center ' , style='transform:rotate(-90deg);border:0px solid red;width:90px;margin-top:40px')
								strong ETAPA 2
							
						td(width='84', rowspan='2')
							p(align='center') 15 de octubre
						td(width='49', , rowspan='2')
							p(align='center') 18:30
						td(width='45', , rowspan='2')
							p(align='center') 21:30
						td(width='238', , rowspan='2')
							p Teoría: Propiedad    Intelectual
						td(width='132', , rowspan='2')
							p(align='center') Jesús Manuel    Chincha
						td(width='189', , rowspan='2')
							p(align='center') Investigadores    y docentes USMP
						td(width='170', , rowspan='2')
							p(align='center') Auditorio    Primus InterPares
				
						tr
						td(width='84', rowspan='2')
							p(align='center') 22 de octubre
						td(width='49', , rowspan='2')
							p(align='center') 18:30
						td(width='45', , rowspan='2')
							p(align='center') 21:00
						td(width='238', , rowspan='2')
							p Práctica: Propiedad    Intelectual
						td(width='132', , rowspan='2')
							p(align='center') Jesús Manuel    Chincha
						td(width='189', , rowspan='2')
							p(align='center') Investigadores    y docentes USMP
						td(width='170', , rowspan='2')
							p(align='center') Laboratorio    3D – FIA DATA
		