.row
	.col-sm-12
		h2(class="text-center") CATI UNIVESIDADES E INSTITUTOS

		.table-responsive
			table.table.table-bordered.table-hover
				thead
					tr
						th CIUDAD
						th CATI
						th TELÉFONO
						th DIRECCIÓN
						th PÁGINA WEB
				tbody
					tr
						td Argentina
						td Spanish (official), English, Italian, German, French
						td 41,803,125
						td 31.3
						td 2,780,387
					tr
						td Australia
						td English 79%, native and other languages
						td 23,630,169
						td 37.3
						td 7,739,983
					tr
						td Greece
						td Greek 99% (official), English, French
						td 11,128,404
						td 43.2
						td 131,956
					tr
						td Luxembourg
						td Luxermbourgish (national) French, German (both administrative)
						td 536,761
						td 39.1
						td 2,586
					tr
						td Russia
						td Russian, others
						td 142,467,651
						td 38.4
						td 17,076,310
					tr
						td Sweden
						td Swedish, small Sami- and Finnish-speaking minorities
						td 9,631,261
						td 41.1
						td 449,954

		
		h2(class="text-center") CATI REGIONALES
		.table-responsive
					table.table.table-bordered.table-hover
						thead
							tr
								th CIUDAD
								th CATI
								th TELÉFONO
								th DIRECCIÓN
								th PÁGINA WEB
						tbody
							tr
								td Argentina
								td Spanish (official), English, Italian, German, French
								td 41,803,125
								td 31.3
								td 2,780,387
							tr
								td Australia
								td English 79%, native and other languages
								td 23,630,169
								td 37.3
								td 7,739,983
							tr
								td Greece
								td Greek 99% (official), English, French
								td 11,128,404
								td 43.2
								td 131,956
							tr
								td Luxembourg
								td Luxermbourgish (national) French, German (both administrative)
								td 536,761
								td 39.1
								td 2,586
							tr
								td Russia
								td Russian, others
								td 142,467,651
								td 38.4
								td 17,076,310
							tr
								td Sweden
								td Swedish, small Sami- and Finnish-speaking minorities
								td 9,631,261
								td 41.1
								td 449,954						