.row
	.col-sm-4
		figure
			img(src="images/programa.png", alt="")

		hr(class="hr-fix")

		h3 ¿Qué es el Programa CATI?
		
		p Los CATI son Centro de Apoyo	a Tecnología y a la Innovación
	

	.col-sm-4
		figure
			img(src="images/beneficios.png", alt="")

		hr(class="hr-fix")

		h3 ¿Qué es el Programa CATI?
		
		p Los CATI son Centro de Apoyo	a Tecnología y a la Innovación


	.col-sm-4
		a(href="servicios.html")
			figure
				img(src="images/servicios.png", alt="")

			hr(class="hr-fix")

			h3 ¿Qué servicios ofrece?
			
			p El CATI es un centro que pretende facilitar el acceso a los servicios de información sobre tecnología y otros servicios relacionados de alta calidad.