.row
	.col-sm-4
		figure
			img(src="images/programa.jpg", class="image-responsive" alt="")

	.col-sm-8
		p Los Centros de Apoyo a la Tecnología y la Innovación (CATI), constituyen la iniciativa más importante y ambiciosa en materia de interacción y vinculación a nivel interinstitucional en lo que respecta al desarrollo de la propiedad intelectual en el Perú, como instrumento de utilidad y aprovechamiento en las actividades de investigación, invención e innovación tecnológica que se desarrollan en todo el país, esto en virtud al convenio marco del acuerdo en materia de Prestación de Servicios suscrito con fecha 03 de octubre de 2017, entre la Organización mundial de la Propiedad Intelectual (OMPI) con sede en Ginebra Suiza  y el Instituto Nacional de Defensa de la Competencia y de la Protección de la Propiedad Intelectual (INDECOPI) con la finalidad de fomentar el establecimiento y desarrollo de una red nacional de centros de apoyo en el Perú.

		p Los CATI, están concebidos para facilitar el acceso de los investigadores e innovadores a información tecnológica de patentes y otros servicios conexos de alta calidad vinculados con propiedad intelectual, en particular con sistemas de patentes.

		p CATI USMP pertenece a la mencionada red nacional debido al convenio de colaboración para el establecimiento de un Centro de Apoyo a la Tecnología y la Innovación (CATI) en la Universidad de San Martín de Porres como institución integrante de la Red Nacional de CATI en el Perú suscrito por nuestra Universidad con INDECOPI con fecha 30 de enero de 2018 aprobado con resolución N° 072-2018-CD-P-USMP.

		