.row
	.col-sm-4
		figure
			img(src="images/cursos.jpg", class="image-responsive" alt="")

	.col-sm-8
		h4 Vigilancia Tecnológica (VT):
		
		p Permitirá al gestor conocer las fuentes de información más confiables y utilizadas en los procesos de Ciencia Tecnología, Innovación y emprendimiento tecnológico (CTI + ET). Se visitarán bases de datos de publicaciones científicas, patentes, proyectos a una escala nacional, regional y mundial, así como se brindarán los criterios de cómo realizar el proceso sistemático y la elaboración de un informe de VT.
		
		br 

		h4 Formulación de Proyectos (FP):

		p Permitirá al gestor conocer las fuentes de financiamiento no reembolsable del estado peruano, sus características, fechas, particularidades, sistema de postulación y evaluación.
		
		br 

		h4 Propiedad Intelectual (PI):

		p Se conocerán las formas de protección peruana de los resultados de investigación, tales como: Patentes, derecho de autor, derecho de obtentor.

		br 

		h4 Taller del investigador (TdI):

		p Se conocerán los criterios de calificación, los documentos sustentatorios y el proceso de calificación para que una persona natural forme parte del Sistema Nacional de Ciencia Tecnología e Innovación – SINACYT. Se certificarán además en conducta responsable para la investigación ante CONCYTEC.