.row
	p(class="col-xs-12 text-center" style="") 
		|	Av. La Fontana 1250 Urb. Sta. Patricia 2da Etapa La Molina
		br 
		|	Copyright © 2018 Área de Diseño Gráfico y Multimedia - FIA, USMP.
		br 
		| Todos losh derechos reservados
