head
	link(rel="stylesheet", href="http://usmp.edu.pe/cati/css/bootstrap.css")
	link(rel="stylesheet", href="http://usmp.edu.pe/cati/css/style.css")
	meta(charset="utf-8")
	link(rel="Shortcut Icon", href="http://usmp.edu.pe/images/logo.ico")