div.container-fluid.menu-fix-bg
				nav.navbar.navbar-default
					div.container-fluid.container-fix
						div.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar5')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand(href='#')
								img(style='	width: 140px;', src='http://usmp.edu.pe/cati/images/logo_usmp.png', alt='Dispute Bills')
							
						div#navbar5.navbar-collapse.collapse
							ul.nav.navbar-nav.navbar-right
								li
									a(href='http://usmp.edu.pe/cati/') Inicio
								li
									a(href='nosotros.html') Nosotros
								li
									a(href='ubicacion.html') Ubicación de los CATI
								li
									a(href='cursos-talleres.html') Cursos / Talleres 
								li
									a(href='#') Boletín
								li
									a(href='convocatoria.html') Convocatoria
								li
									a(href='#') Contáctanos				
						// /.nav-collapse
					// /.container-fluid
