div(class="row top")
				div(class="col-xs-6 col-sm-offset-1 col-sm-2")
					span(class="glyphicon glyphicon-earphone") 
					span(class="text-top") 2086000 (112)

				div(class="col-xs-6 col-sm-2")
					span(class="glyphicon glyphicon-envelope")
					a(href="cati-usmp@usmp.pe", class="text-top") cati-usmp@usmp.pe	